:root {
  --primary-cyan: 180, 66%, 49%;
  --primary-darkviolet: 257, 27%, 26%;
  --secondary-red: 0, 87%, 67%;
  --neutral-gray: 0, 0%, 75%;
  --neutral-lightgray: 231, 28%, 95%;
  --neutral-grayviolet: 257, 7%, 63%;
  --neutral-vdarkblue: 255, 11%, 22%;
  --neutral-vdarkviolet: 260, 8%, 14%;
  --neutral-white: 0, 0%, 100%;
}
