@use "../util" as u;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  font-size: clamp(u.pxtorem(35), u.pxtorem(30) + 2vw, u.pxtorem(72));
}

h2 {
  font-size: clamp(u.pxtorem(28), u.pxtorem(20) + 1.5vw, u.pxtorem(36));
}

h3 {
  font-size: clamp(u.pxtorem(20), u.pxtorem(14) + 1.5vw, u.pxtorem(22));
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
